@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: theme(colors.info);
  --toastify-color-success: theme(colors.success);
  --toastify-color-warning: theme(colors.warning);
  --toastify-color-error: theme(colors.error);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
}

body {
  @apply bg-base-100 font-main
}
/* 
.gap-4 {
  gap: 0;
  @apply space-x-4;
}
.flex-col.gap-4 > *:not(:last-child) {
  margin-bottom: 1rem;
}
.flex:not(.flex-col) > *:not(:last-child) {
  margin-right: 1rem;
} */