.cardContainer {
  display: flex;
  background: white;
  height: 160px;
  border-radius: 12px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 12px;
  position: relative;
}

.imageColumnContainer {
  margin-right: 24px;
  max-width: 180px;
  width: 100%;
}

.cardImageCover {
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
}

.infoColumnContainer {
  color: #050e1d;
}

.spotifyLink {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9999;
}

.spotifyLink:hover {
  cursor: pointer;
}
