.circularChart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  stroke: #050e1d;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}
.circleFill {
  transform: scale(1);
}
